<section id="avis" class="py-4">
  <h1 class="text-capitalize">Avis</h1>
  <p class="fs-5  text-center">Moyenne des avis :</p>
  <p class="fs-4  text-center fw-bold" style="color:var(--clr-secondary);">{{ avis_moyen|number_format(1, '.', '/') }}/5</p>
  {% for avi in avis %}
    <div class="avis-block container-fluid p-3 mb-3 rounded-0 w-75" style="background:var(--clr-primary);">
      <div class="row">
        <div class="col-md-2">
          <div class="line1">
            {% for i in 1..avi.rank %}
              <i class="fa-solid fa-car fs-5 mx-0" style="color:var(--clr-secondary); cursor: pointer;"></i>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-10">
          <div class="line2 d-flex justify-content-between">
            <p class="item-avis fs-5 fw-bold text-capitalize">{{ avi.lastname }} {{ avi.firstname }}</p>
            <p class="item-avis pe-5">{{ avi.date|date("d/m/Y") }}</p>
          </div>
          <div class="line3">
            <p class="item-avis">{{ avi.message }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <section>
		<div class="d-flex justify-content-center">
			{{ knp_pagination_render(avis) }}
		</div>
	</section>
  <a id="openModal" class="btn btn-primary rounded-0 d-block w-25 mx-auto" data-bs-toggle="modal" data-bs-target="#modal">Donnez-nous votre avis !</a>
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Donnez-nous votre avis !</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center mx-auto my-2"  id="rank-car">
            {% for i in 1..5 %}
              <i class="fa-solid fa-car mx-1" data-value="{{ i }}"></i>
            {% endfor %}
          </div>
          {{ form(form) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://kit.fontawesome.com/105098c44c.js" crossorigin="anonymous"></script>
<script>
    const rankCar = document.getElementById('rank-car');
    const cars = rankCar.children;
    const rankInput = document.getElementById('{{ form.rank.vars.id }}');
    const rankLabel = document.querySelector('label[for="{{ form.rank.vars.id }}"]');

    rankInput.style.visibility = 'hidden';
    rankLabel.style.display = 'none';

    function updateCarColor() {
        const value = rankInput.value;
        for (let i = 0; i < cars.length; i++) {
            if (i < value) {
                cars[i].style.color = 'var(--clr-secondary)';
            } else {
                cars[i].style.color = 'var(--clr-primary)';
            }
        }
    }

    rankCar.addEventListener('mouseover', function(e) {
        const target = e.target;
        if (target.tagName === 'I') {
            const value = target.getAttribute('data-value');
            rankInput.value = value;
            updateCarColor();
        }
    });

    updateCarColor();
    </script>

    // Supprimer "Previous" et "Next" et les remplacer par "Précédent" et "Suivant"
document.addEventListener("DOMContentLoaded", function() {
    var elements = document.querySelectorAll('button, a, span'); // Vous pouvez ajuster le sélecteur en fonction de votre HTML

    elements.forEach(function(element) {
        // Remplacer "Previous" par "Précédent"
        element.innerHTML = element.innerHTML.replace(/Previous/g, 'Précédent');
        
        // Remplacer "Next" par "Suivant"
        element.innerHTML = element.innerHTML.replace(/Next/g, 'Suivant');
    });
});

</script>