
<footer>
  <section class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92456.97242131893!2d1.4328424499999999!3d43.600703249999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb6fec7552ff%3A0x406f69c2f411030!2sToulouse!5e0!3m2!1sfr!2sfr!4v1698392659068!5m2!1sfr!2sfr"
            width="100%"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <section class="main-footer container">
    <div class="row">
      <div class="col-md-4 mx-auto">
          <img class="header-img w-100" src="{{asset('assets/img/logo-final-png.png')}}" alt="logo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mx-auto mt-4">
        <div class="row">
          <div class="col-2">
              <img class="w-50" src="{{asset('assets/img/location-pin_2776067.png')}}" alt="logo">
          </div>
          <div class="col-10">
              <p class="fs-6">1 rue de la paix<br>31000 Toulouse</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mx-auto mt-2">
        <div class="row">
          <div class="col-2">
              <img class="w-50" src="{{asset('assets/img/smartphone_329446.png')}}" alt="logo">
          </div>
          <div class="col-10">
              <p class="fs-6"><a class="text-decoration-none" style="color:#000000;" href="tel:+33000000000">05 61 23 45 67</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-5 mx-auto mt-2">
        <div class="row">
          <div class="col-2">
              <img class="w-50" src="{{asset('assets/img/open_267488.png')}}" alt="logo">
          </div>
          <div class="col-2 me-4">
            <p class="m-0">Lundi</p>
            <p class="m-0">Mardi</p>
            <p class="m-0">Mercredi</p>
            <p class="m-0">Jeudi</p>
            <p class="m-0">Vendredi</p>
            <p class="m-0">Samedi</p>
            <p class="m-0">Dimanche</p>
          </div>
          <div class="col-7">
            <p class="m-0">{{ hour[0].monday|date('H:i')|replace({':': 'h'}) }} - {{ hour[1].monday|date('H:i')|replace({':': 'h'}) }} / {{ hour[2].monday|date('H:i')|replace({':': 'h'}) }} - {{ hour[3].monday|date('H:i')|replace({':': 'h'}) }}</p>
            <p class="m-0">{{ hour[0].tuesday|date('H:i')|replace({':': 'h'}) }} - {{ hour[1].tuesday|date('H:i')|replace({':': 'h'}) }} / {{ hour[2].tuesday|date('H:i')|replace({':': 'h'}) }} - {{ hour[3].tuesday|date('H:i')|replace({':': 'h'}) }}</p>
            <p class="m-0">{{ hour[0].wednesday|date('H:i')|replace({':': 'h'}) }} - {{ hour[1].wednesday|date('H:i')|replace({':': 'h'}) }} / {{ hour[2].wednesday|date('H:i')|replace({':': 'h'}) }} - {{ hour[3].wednesday|date('H:i')|replace({':': 'h'}) }}</p>
            <p class="m-0">{{ hour[0].thursday|date('H:i')|replace({':': 'h'}) }} - {{ hour[1].thursday|date('H:i')|replace({':': 'h'}) }} / {{ hour[2].thursday|date('H:i')|replace({':': 'h'}) }} - {{ hour[3].thursday|date('H:i')|replace({':': 'h'}) }}</p>
            <p class="m-0">{{ hour[0].friday|date('H:i')|replace({':': 'h'}) }} - {{ hour[1].friday|date('H:i')|replace({':': 'h'}) }} / {{ hour[2].friday|date('H:i')|replace({':': 'h'}) }} - {{ hour[3].friday|date('H:i')|replace({':': 'h'}) }}</p>
            <p class="m-0">{{ hour[0].saturday|date('H:i')|replace({':': 'h'}) }} - {{ hour[1].saturday|date('H:i')|replace({':': 'h'}) }} / {{ hour[2].saturday|date('H:i')|replace({':': 'h'}) }} - {{ hour[3].saturday|date('H:i')|replace({':': 'h'}) }}</p>
            <p class="m-0">{{ hour[0].sunday|date('H:i')|replace({':': 'h'}) }} - {{ hour[1].sunday|date('H:i')|replace({':': 'h'}) }} / {{ hour[2].sunday|date('H:i')|replace({':': 'h'}) }} - {{ hour[3].sunday|date('H:i')|replace({':': 'h'}) }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
