<section  id="services" style="background-image: url('assets/img/Sans titre-1.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <h1 class="py-4 text-white">{{h1_serv}}</h1>
  <div class="container py-4 w-75">
    <div class="row py-5">
      <div class="col-lg-8">
        <div class="article">
          <h2 class="text-start text-white pb-3">{{services[0].title}}</h2>
          <p class="text-white">{{services[0].text}}</p>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <div class="art-img">
          <img src="{{ asset('assets/img_uploads/services/' ~ services[0].image) }}" alt="clef" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg-4 d-none d-lg-block">
        <div class="art-img">
          <img src="{{ asset('assets/img_uploads/services/' ~ services[1].image) }}" alt="clef" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="article">
          <h2 class="text-start text-white pb-3">{{services[1].title}}</h2>
          <p class="text-white">{{services[1].text}}</p>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg-8">
        <div a class="article">
          <h2 class="text-start text-white pb-3">{{services[2].title}}</h2>
          <p class="text-white">{{services[2].text}}</p>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <div class="art-img">
          <img src="{{ asset('assets/img_uploads/services/' ~ services[2].image) }}" alt="clef" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
