
{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('assets/styles/services.css')}}"> 
{% endblock %}
<section class="serv" id="services">
  <h1 class="h1-serv">{{h1_serv}}</h1>
  <div>
  <article class="article">
    <div class="art-text">
      <h2 class="h2-serv">{{services[0].title}}</h2>
      <p class="art-para">{{services[0].text}}</p>
    </div>
    <div class="art-img">
      <img src="{{ asset('assets/img_uploads/' ~ services[0].imageFile) }}" alt="clef">
    </div>
  </article>
  <article class="article article-reverse">
    <div class="art-text">
      <h2 class="h2-serv">{{services[1].title}}</h2>
      <p class="art-para">{{services[1].text}}</p>
    </div>
    <div class="art-img">
      <img src="{{ asset('assets/img_uploads/' ~ services[1].imageFile) }}" alt="clef">
    </div>
  </article>
  <article class="article">
    <div class="art-text">
      <h2 class="h2-serv">{{services[2].title}}</h2>
      <p class="art-para">{{services[2].text}}</p>
    </div>
    <div class="art-img">
      <img src="{{ asset('assets/img_uploads/' ~ services[2].imageFile) }}" alt="clef">
    </div>
  </article>
  </div>
</section>