<section class="py-4 text-capitalize" id="ventes" style="background:var(--clr-secondary);">
	<h1 class="text-white">Ventes</h1>
	<div class="pb-4 text-white text-center fs-5">
		{{ cars.getTotalItemCount }} {{ count_vehicles }}
	</div>
	{% for car in cars %}
	<div class="card mb-4 mx-auto rounded-0 w-75">
		<div class="row">
			<div class="col-md-4">
				<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName1) }}" alt="photo du véhicule" class="img-fluid">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h3 class="card-title">{{ car.brand }} {{ car.model }} {{ car.power }} ch</h3>
					<p class="card-text">Année : {{ car.year }}</p>
					<p class="card-text">Carburant : {{ car.energy }}</p>
					<p class="card-text">Kilometrage : {{ car.mileage }} km</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card-footer d-flex justify-content-around align-items-center">
					<p class="card-price fs-3" style="color:var(--clr-secondary);">{{ car.price }} €</p>
					<div id="openModal_{{ car.id }}">
						<a href="#" data-bs-toggle="modal" data-bs-target="#modal_{{ car.id }}" class="btn btn-primary">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modal_{{ car.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ car.id }}" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title fs-3" style="color:var(--clr-secondary);" id="modalLabel_{{ car.id }}">{{ car.brand }} {{ car.model }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<div class="modal-body">
					<div id="open_Carousel_{{ car.id }}" class="d-flex flex-row justify-content-evenly">
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName1) }}" alt="photo du véhicule" class="img-fluid w-25">
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName2) }}" alt="photo du véhicule" class="img-fluid w-25">
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName3) }}" alt="photo du véhicule" class="img-fluid w-25">
					</div>
					<div class="d-flex flex-row mt-3 fs-6">
						<p class="border py-1 px-2 mx-2">Année : {{ car.year }}</p>
						<p class="border py-1 px-2 mx-2">Kilométrage : {{ car.mileage }} km</p>
						<p class="border py-1 px-2 mx-2">Carburant : {{ car.energy }}</p>
					</div>
					<div class="fs-4 my-4">
						<p class="d-flex justify-content-center" style="color:var(--clr-secondary);">{{ car.price }} €</p>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-12">
									<div class="d-flex flex-column align-items-center border-top pt-3">
											<p class="fs-4 text-decoration-underline">Détails</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Marques</p>
											<p class="fs-6">{{ car.brand }}</p>
											
									</div>
							</div>
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Modèle</p>
											<p class="fs-6">{{ car.model }}</p>
									</div>
							</div>
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Année modèle</p>
											<p class="fs-6">{{ car.year }}</p>
									</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Kilométrage</p>
											<p class="fs-6">{{ car.mileage }} km</p>
											
									</div>
							</div>
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Carburant</p>
											<p class="fs-6">{{ car.energy }}</p>
									</div>
							</div>
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Boîte de vitesse</p>
											<p class="fs-6">{{ car.gearbox }}</p>
									</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Puissance fiscale</p>
											<p class="fs-6">{{ car.fiscalpower }} ch</p>
											
									</div>
							</div>
							<div class="col-md-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Puissance DIN</p>
											<p class="fs-6">{{ car.power }} ch</p>
									</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
								<a href="{{ path('app_contact') }}" class="btn btn-primary">Nous contacter</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Carousel img -->
	<div id="carouselExampleControls_{{ car.id }}" class="carousel slide d-none position-fixed w-75" style="top: 50%; left: 50%; transform: translate(-50%, -50%);" data-bs-ride="carousel">
		<div class="carousel-overlay"></div>
			<div id="close_carousel_{{ car.id }}" class="carousel-inner">
				<div class="carousel-item active">
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName1) }}" class="d-block w-100" alt="photo du véhicule">
				</div>
				<div class="carousel-item">
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName2) }}" class="d-block w-100" alt="photo du véhicule">
				</div>
				<div class="carousel-item">
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName3) }}" class="d-block w-100" alt="photo du véhicule">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_{{ car.id }}" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_{{ car.id }}" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
			</button>
    </div>
		<script>
        const open_Carousel_{{ car.id }} = document.getElementById('open_Carousel_{{ car.id }}');
        const carousel_{{ car.id }} = document.getElementById('carouselExampleControls_{{ car.id }}');
        const close_carousel_{{ car.id }} = document.getElementById('close_carousel_{{ car.id }}');

        open_Carousel_{{ car.id }}.style.cursor = 'pointer';

        open_Carousel_{{ car.id }}.addEventListener('click', function() {
            carousel_{{ car.id }}.classList.remove('d-none');
            carousel_{{ car.id }}.style.zIndex = '9999';
        });

        close_carousel_{{ car.id }}.addEventListener('click', function() {
            carousel_{{ car.id }}.classList.add('d-none');
        });
    </script>
	{% endfor %}
	<section>
		<div>
			{{ knp_pagination_render(cars) }}
		</div>
	</section>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>