<section class="py-4" id="ventes" style="background:var(--clr-secondary);">
	<h1 class="text-white">Ventes</h1>
	<div class="pb-4 text-white text-center fs-5">
		{{ cars.getTotalItemCount }} {{ count_vehicles }}
	</div>
    <div class="row text-center d-flex justify-content-center mb-4">
			<div class="col-md-3">
				<div class="mb-2 w-50	mx-auto">
					<label for="minPrice" class="form-label text-white">Prix</label>
					<input type="number" class="form-control" name="minPrice" id="minPrice" placeholder="min" min="0">
				</div>
				<div class="mb-2 w-50	mx-auto">
					<input type="number" class="form-control" name="Maxprice" id="Maxprice" placeholder="max" min="1">
				</div>
			</div>
			<div class="col-md-3">
				<div class="mb-2 w-50	mx-auto">
					<label for="minMileage" class="form-label text-white">Kilomètres</label>
					<input type="number" class="form-control" name="minMileage" id="minMileage" placeholder="min" min="0">
				</div>
				<div class="mb-2 w-50	mx-auto">
					<input type="number" class="form-control" name="MaxMileage" id="MaxMileage" placeholder="max" min="1">
				</div>
			</div>
			<div class="col-md-3">
				<div class="mb-2 w-50	mx-auto">
					<label for="minyear" class="form-label text-white">Année</label>
					<input type="number" class="form-control" name="minyear" id="minyear" placeholder="min" min="1850">
        </div>
				<div class="mb-2 w-50	mx-auto">
					<input type="number" class="form-control" name="Maxyear" id="Maxyear" placeholder="max" min="1851">
				</div>
      </div>
    </div>
    <div class="row">
			<div class="col-md-12">
					<button type="submit" class="btn btn-light d-flex mx-auto mb-4 rounded-0" id="sortButton">Trier</button>
			</div>
    </div>
	{% for car in cars %}
	<div class="card mb-4 mx-auto rounded-0 w-75" id="card">
		<div class="row">
			<div class="col-md-4">
				<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName1) }}" alt="photo du véhicule" class="img-fluid">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h3 class="card-title">{{ car.brand }} {{ car.model }} {{ car.power }} ch</h3>
					<p class="card-text" id="sort-year">Année : {{ car.year }}</p>
					<p class="card-text">Carburant : {{ car.energy }}</p>
					<p class="card-text" id="sort-mileage">Kilometrage : {{ car.mileage }} <span>km</span></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card-footer d-flex justify-content-around align-items-center">
					<p class="card-price fs-3" style="color:var(--clr-secondary);" id="sort-price">{{ car.price }} <span>€</span></p>
					<div id="openModal_{{ car.id }}">
						<a href="#" data-bs-toggle="modal" data-bs-target="#modal_{{ car.id }}" class="btn btn-primary rounded-0">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modal_{{ car.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ car.id }}" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title fs-3" style="color:var(--clr-secondary);" id="modalLabel_{{ car.id }}">{{ car.brand }} {{ car.model }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<div class="modal-body">
					<div id="open_Carousel_{{ car.id }}" class="d-flex flex-row justify-content-evenly">
					{% if car.imageName1 == null %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName1) }}" alt="photo du véhicule" class="d-none">
					{% else %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName1) }}" alt="photo du véhicule" class="img-fluid w-25">
					{% endif %}
					{% if car.imageName2 == null %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName2) }}" alt="photo du véhicule" class="d-none">
					{% else %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName2) }}" alt="photo du véhicule" class="img-fluid w-25">
					{% endif %}
					{% if car.imageName3 == null %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName3) }}" alt="photo du véhicule" class="d-none">
					{% else %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName3) }}" alt="photo du véhicule" class="img-fluid w-25">
					{% endif %}
					</div>
					<div class="d-flex flex-row mt-3 fs-6">
						<p class="border py-1 px-2 mx-2">Année : {{ car.year }}</p>
						<p class="border py-1 px-2 mx-2">Kilométrage : {{ car.mileage }} km</p>
						<p class="border py-1 px-2 mx-2">Carburant : {{ car.energy }}</p>
					</div>
					<div class="fs-4 my-4">
						<p class="d-flex justify-content-center" style="color:var(--clr-secondary);">{{ car.price }} €</p>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-12">
									<div class="d-flex flex-column align-items-center border-top pt-3">
											<p class="fs-4 text-decoration-underline">Détails</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Marques</p>
											<p class="fs-6">{{ car.brand }}</p>
											
									</div>
							</div>
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Modèle</p>
											<p class="fs-6">{{ car.model }}</p>
									</div>
							</div>
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Année modèle</p>
											<p class="fs-6">{{ car.year }}</p>
									</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Kilométrage</p>
											<p class="fs-6">{{ car.mileage }} km</p>
											
									</div>
							</div>
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Carburant</p>
											<p class="fs-6">{{ car.energy }}</p>
									</div>
							</div>
							<div class="col-md-4 col-sm-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Boîte de vitesse</p>
											<p class="fs-6">{{ car.gearbox }}</p>
									</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Puissance fiscale</p>
											<p class="fs-6">{{ car.fiscalpower }} ch</p>
											
									</div>
							</div>
							<div class="col-md-6">
									<div class="d-flex flex-column align-items-start">
											<p class="fs-5 fw-bold">Puissance DIN</p>
											<p class="fs-6">{{ car.power }} ch</p>
									</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
								<a href="{{ path('app_contact_new_vehicule', {'id': car.id}) }}" class="btn btn-primary">Nous contacter</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Carousel img -->
	<div id="carouselExampleControls_{{ car.id }}" class="carousel slide d-none position-fixed w-75" style="top: 50%; left: 50%; transform: translate(-50%, -50%);" data-bs-ride="carousel">
			<div id="close_carousel_{{ car.id }}" class="carousel-inner">
				<div class="carousel-item active">
				{% if car.imageName1 == null %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName1) }}" alt="photo du véhicule" class="d-none">
					{% else %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName1) }}" alt="photo du véhicule" class="d-block w-100">
					{% endif %}
				</div>
				<div class="carousel-item">
						{% if car.imageName2 == null %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName2) }}" alt="photo du véhicule" class="d-none">
					{% else %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName2) }}" alt="photo du véhicule" class="d-block w-100">
					{% endif %}
				</div>
				<div class="carousel-item">
						{% if car.imageName3 == null %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName3) }}" alt="photo du véhicule" class="d-none">
					{% else %}
						<img src="{{ asset('assets/img_uploads/vehicles/' ~ car.imageName3) }}" alt="photo du véhicule" class="d-block w-100">
					{% endif %}
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_{{ car.id }}" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_{{ car.id }}" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
<script>
    const open_Carousel_{{ car.id }} = document.getElementById('open_Carousel_{{ car.id }}');
    const carousel_{{ car.id }} = document.getElementById('carouselExampleControls_{{ car.id }}');
    const close_carousel_{{ car.id }} = document.getElementById('close_carousel_{{ car.id }}');
    const bodyElement = document.body;

    open_Carousel_{{ car.id }}.style.cursor = 'pointer';

    open_Carousel_{{ car.id }}.addEventListener('click', function(event) {
        event.stopPropagation();
        carousel_{{ car.id }}.classList.remove('d-none');
        carousel_{{ car.id }}.style.zIndex = '9999';
    });

    close_carousel_{{ car.id }}.addEventListener('click', function(event) {
        event.stopPropagation(); 
        carousel_{{ car.id }}.classList.add('d-none');
    });

    bodyElement.addEventListener('click', function(event) {
        if (!open_Carousel_{{ car.id }}.contains(event.target) && !carousel_{{ car.id }}.contains(event.target)) {
            carousel_{{ car.id }}.classList.add('d-none');
        }
    });
</script>

	{% endfor %}
	<section>
		<div>
			{{ knp_pagination_render(cars) }}
		</div>
	</section>
</section>
<script>
document.addEventListener('DOMContentLoaded', function () {
    let sortButton = document.getElementById('sortButton');
    let minPrice = document.getElementById('minPrice');
    let Maxprice = document.getElementById('Maxprice');
    let minMileage = document.getElementById('minMileage');
    let MaxMileage = document.getElementById('MaxMileage');
    let minyear = document.getElementById('minyear');
    let Maxyear = document.getElementById('Maxyear');
    let cards = document.querySelectorAll('.card');

    sortButton.addEventListener('click', function () {
        cards.forEach(function (card) {
            let cardPrice = parseFloat(card.querySelector('#sort-price').textContent);
            let cardMileage = parseFloat(card.querySelector('#sort-mileage').textContent);
            let cardYear = parseInt(card.querySelector('#sort-year').textContent, 10);

            if (cardPrice < parseFloat(minPrice.value) || cardPrice > parseFloat(Maxprice.value)) {
                card.classList.add('d-none');
            } else if (cardMileage < parseFloat(minMileage.value) || cardMileage > parseFloat(MaxMileage.value)) {
                card.classList.add('d-none');
            } else if (cardYear < parseInt(minyear.value) || cardYear > parseInt(Maxyear.value)) {
                card.classList.add('d-none');
            } else {
                card.classList.remove('d-none');
            }
        });
    });
});
// Supprimer "Previous" et "Next" et les remplacer par "Précédent" et "Suivant"
document.addEventListener("DOMContentLoaded", function() {
    var elements = document.querySelectorAll('button, a, span'); // Vous pouvez ajuster le sélecteur en fonction de votre HTML

    elements.forEach(function(element) {
        // Remplacer "Previous" par "Précédent"
        element.innerHTML = element.innerHTML.replace(/Previous/g, 'Précédent');
        
        // Remplacer "Next" par "Suivant"
        element.innerHTML = element.innerHTML.replace(/Next/g, 'Suivant');
    });
});

</script>