{% extends "base.html.twig" %}

{% block title %}{{ title_page }}{% endblock %}

{% block stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset('assets/styles/form.css')}}">
{% endblock %}

{% block header %}
  {% include "partials/_header.html.twig" %}
  {% include "partials/_nav_back.html.twig" %}
{% endblock %}

{% block body %}
  <div class="container-md w-50 mx-auto">
    <h1>{{ h1_new }}</h1>
    <h2>{{ h2_new }}</h2>
    {{ form(form) }}
  </div>
{% endblock %}
