{% extends 'base.html.twig' %}

{% block title %}
    {{title_page}}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/general_backoffice.css')}}">
    <link rel="stylesheet" href="{{asset('assets/styles/buttons_backoffice.css')}}">
    <link rel="stylesheet" href="{{asset('assets/styles/pagination_backoffice.css')}}">
    <link rel="stylesheet" href="{{asset('assets/styles/sorts_backoffice.css')}}">
    <link rel="stylesheet" href="{{asset('assets/styles/tables_backoffice.css')}}">
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include "partials/_nav_back.html.twig" %}
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ h1_index }}</h1>
        {% for message in app.flashes('success') %}
    <div class="pop-up-good">
            {{ message }}
    </div>
        {% endfor %}
    </div>
    <h2 class="list-vehicles">{{ h2_index }}</h2>
    <a href="{{ path('app_registration') }}" class="addBtn">{{ add_btn }}</a>
    <div class="count">
        {{ count_employee }} {{ users.getTotalItemCount }}
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ th_lastname }}<a id="sortlastname"><img src="{{asset('assets/img/descending_white.png')}}" alt="filtre"></a></th>
                <th>{{ th_firstname }}<a id="sortFirstname"><img src="{{asset('assets/img/descending_white.png')}}" alt="filtre"></a></th>
                <th>{{ th_function }}<a id="sortFuction"><img src="{{asset('assets/img/descending_white.png')}}" alt="filtre"></a></th>
                <th>{{ th_email }}</th>
                <th class="th-modify"></th>
                <th class="th-delete"></th>
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.lastname}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.function}}</td>
                <td>{{user.email}}</td>
                <td class="th-modify"><a href="{{ path('app_gestion_employee_edit', {id: user.id }) }}" class="btn btn-modify">{{ td_modify }}</a></td>
                <td class="th-delete"><a href="{{ path('app_gestion_employee_delete', {id: user.id }) }}" class="btn btn-delete">{{ td_delete }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(users) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/sort_backoffice.js')}}"></script>
{% endblock %}
