{% extends 'base.html.twig' %}

{% block title %}
    {{ title_page }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/general_backoffice.css')}}"> 
    <link rel="stylesheet" href="{{asset('assets/styles/btn_backoffice.css')}}"> 
    <link rel="stylesheet" href="{{asset('assets/styles/tables_backoffice.css')}}"> 
    <link rel="stylesheet" href="{{asset('assets/styles/pagination_backoffice.css')}}"> 
    <link rel="stylesheet" href="{{asset('assets/styles/sorts_backoffice.css')}}"> 
{% endblock %}

{% block header %}
{{ parent() }}
{% include "partials/_nav_back.html.twig" %}
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ h1_index }}</h1>
        {% for message in app.flashes('success') %}
    <div class="pop-up-good">
            {{ message }}
    </div>
        {% endfor %}
    <h2{{ h2_index }}</h2>
    <table>
        <thead>
            <tr>
                <th>{{ th_img }}</th>
                <th>{{ th_name }}<a id="sortName"><img src="{{asset('assets/img/descending_white.png')}}" alt="filtre"></a></th>
                <th>{{ th_text }}<a id="sortText"><img src="{{asset('assets/img/descending_white.png')}}" alt="filtre"></a></th>
                <th class="th-modi"></th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td class="td-img"><img src="{{asset('assets/img_uploads/' ~ service.image)}}" alt="image service"></td>
                <td>{{ service.title }}</td>
                <td>{{ service.text }}</td>
                <td class="th-modi"><a href="{{ path('app_services_edit', {'id': service.id}) }}" class="btn btn-modify">{{ td_modify }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/sort_backoffice.js')}}"></script>
{% endblock %}

