{% extends "base.html.twig" %}

{% block title %}
  {{title_page}}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('assets/styles/general_backoffice.css')}}">
  <link rel="stylesheet" href="{{asset('assets/styles/connect_form_backoffice.css')}}">
{% endblock %}

{% block header %}
  {% include "partials/_header.html.twig" %}
{% endblock %}

{% block body %}
<div class="container">
  <h1>{{ h1_index }}</h1>
    {% if bad_credentials %}
      <div class="pop-up-bad">
        {{ bad_credentials_message }}
      </div>
    {% endif %}
  <form action="{{ path('app_security') }}" method="post">
    <h2>{{ h2_index }}</h2>
    <div class="form-group">
      <label for="username">{{ connec_email }}</label>
      <input type="email" id="username" placeholder="exemple@vparrot.fr" name="_username" value="{{last_username}}">
      <small id="emailHelp">{{ connec_warning }}</small>
    </div>
    <div class="form-group">
      <label for="password">{{ connec_password }}</label>
      <input type="password" id="password" placeholder="********" autocomplete="off" name="_password">
    </div>
    <div class="form-group">
      <button type="submit">{{ connec_submit }}</button>
    </div>
  </form>
</div>
{% endblock %}
