{% extends 'base.html.twig' %}

{% block title %}
    {{title_page}}
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('assets/styles/gen.css')}}">
{% endblock %}

{% block header %}
    {% include "partials/_header.html.twig" %}
    {% include "partials/_nav_back.html.twig" %}
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">{{ h1_index }}</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success w-100 mx-auto my-4 rounded-0 text-center justi">
        {{ message }}
    </div>
    {% endfor %}
    <div class="count d-flex justify-content-center w-25 my-4 mx-auto fs-5">
        {{ count_messages }} {{ messages.getTotalItemCount }}
    </div>
    <table class="table table-striped d-none d-md-table">
        <thead>
            <tr>
                <th>{{ th_lastname }}
                    <a id="sortlastname">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="22px" height="20px">
                            <image  x="0px" y="0px" width="22px" height="20px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAMAAAC+oj0CAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAdVBMVEUAAACjJCSjIyOjJCSjIyOiIiKkJCSjIyOjIyOkJCSjJCSkIiKjJCSkJCSiJCSjIyOlIiKiIyOjIyOiIyOiIyOiIyOjICCjIyOkIiKiJCSjIyOjJCSjIyOiJyejIyOiIyOkJSWjIyOiIyOjIyOhIiKjIyP///+8EYF0AAAAJXRSTlMAVvzS01gcgoiIiFqAgFWAWoJW0syHJ9qGj6fm5SGF6CrS/IsmhJnNMwAAAAFiS0dEJloImLUAAAAHdElNRQfnCw0MCy3tHhSMAAAAh0lEQVQY05WQiQ6DIAyG64UFnM5zl5u7+v6vaBGNhhg3PxISvpRCf/B8mgkAIIx4AxGjRDUsiZoFJbAGHXbpZFMH0z/8dNCZ1UdEZcBcbDXJdukf4xQ2ltLRIpYmEv3XOEuqmnVzSh19pgtdb+3dLX/w291zPLyI3uPFD7XfqUYraQNhItOhBybXC2/0rGqUAAAAAElFTkSuQmCC" />
                        </svg>
                    </a>
                </th>
                <th>{{ th_firstname }}
                    <a id="sortFirstname">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="22px" height="20px">
                            <image  x="0px" y="0px" width="22px" height="20px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAMAAAC+oj0CAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAdVBMVEUAAACjJCSjIyOjJCSjIyOiIiKkJCSjIyOjIyOkJCSjJCSkIiKjJCSkJCSiJCSjIyOlIiKiIyOjIyOiIyOiIyOiIyOjICCjIyOkIiKiJCSjIyOjJCSjIyOiJyejIyOiIyOkJSWjIyOiIyOjIyOhIiKjIyP///+8EYF0AAAAJXRSTlMAVvzS01gcgoiIiFqAgFWAWoJW0syHJ9qGj6fm5SGF6CrS/IsmhJnNMwAAAAFiS0dEJloImLUAAAAHdElNRQfnCw0MCy3tHhSMAAAAh0lEQVQY05WQiQ6DIAyG64UFnM5zl5u7+v6vaBGNhhg3PxISvpRCf/B8mgkAIIx4AxGjRDUsiZoFJbAGHXbpZFMH0z/8dNCZ1UdEZcBcbDXJdukf4xQ2ltLRIpYmEv3XOEuqmnVzSh19pgtdb+3dLX/w291zPLyI3uPFD7XfqUYraQNhItOhBybXC2/0rGqUAAAAAElFTkSuQmCC" />
                        </svg>
                    </a>
                </th>
                <th>{{ th_email }}</th>
                <th>{{ th_phone }}</th>
                <th>{{ th_message }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{message.lastname}}</td>
                <td>{{message.firstname}}</td>
                <td>{{message.email}}</a></td>
                <td><a class="text-decoration-none" style="color:var(--clr-secondary)" href="tel:+33{{message.phone}}">0{{ message.phone}}</a></td>
                <td>{{message.message}}</td>
                <td class="th-reply"><a href="mailto:{{message.email}}" class="btn btn-light rounded-0">{{ td_reply }}</a></td>
                <td class="th-delete"><a href="{{ path('app_contact_delete', {id: message.id }) }}" class="btn btn-primary rounded-0">{{ td_delete }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for message in messages %}
    <div class="card my-4 w-75 mx-auto d-md-none text-center">
        <div class="card-header fs-4">{{message.lastname}} {{message.firstname}}</div>
        <div class="card-body">
            <h5 class="card-title">{{message.email}}</a></h5>
            <p class="card-text"><a class="text-decoration-none" style="color:var(--clr-secondary)" href="tel:+33{{message.phone}}">0{{message.phone}}</a></p>
            <p class="card-text text-start">{{message.message}}</p>
            <div class="d-flex justify-content-around">
                <a href="mailto:{{message.email}}" class="btn btn-light rounded-0">{{ td_reply }}</a>
                <a href="{{ path('app_contact_delete', {id: message.id }) }}" class="btn btn-danger rounded-0">{{ td_delete }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div>
        {{ knp_pagination_render(messages) }}
    </div>
</div>
<script src="{{asset('assets/scripts/sort.js')}}"></script>
<script>
// Supprimer "Previous" et "Next" et les remplacer par "Précédent" et "Suivant"
document.addEventListener("DOMContentLoaded", function() {
    var elements = document.querySelectorAll('button, a, span'); // Vous pouvez ajuster le sélecteur en fonction de votre HTML

    elements.forEach(function(element) {
        // Remplacer "Previous" par "Précédent"
        element.innerHTML = element.innerHTML.replace(/Previous/g, 'Précédent');
        
        // Remplacer "Next" par "Suivant"
        element.innerHTML = element.innerHTML.replace(/Next/g, 'Suivant');
    });
});

</script>
{% endblock %}


