{% extends "base.html.twig" %}

{% block title %}{{ title_page }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/styles/general_backoffice.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/styles/general_form_backoffice.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/styles/add_modify_form_backoffice.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/styles/btn_backoffice.css') }}">
{% endblock %}

{% block header %}
  {{ parent() }}
  {% include "partials/_nav_back.html.twig" %}
{% endblock %}

{% block body %}
<div class="container">
  <h1>{{ h1_new }}</h1>
  <h2>{{ h2_new}}</h2>
    {{ form_start(form) }}
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.brand) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.brand) }}
        </div>
        <div class="form-error">
          {{ form_errors(form.brand) }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.model) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.model) }}
        </div>
        <div class="form-error">
          {{ form_errors(form.model) }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.year) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.year) }}
        </div>
        <div class="form-error">
          {{ form_errors(form.year) }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.mileage) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.mileage) }}
        </div>
        <div class "form-error">
          {{ form_errors(form.mileage) }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.energy) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.energy) }}
        </div>
        <div class="form-error">
          {{ form_errors(form.energy) }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.power) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.power) }}
        </div>
        <div class="form-error">
          {{ form_errors(form.power) }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.fiscalpower) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.fiscalpower) }}
        </div>
        <div class="form-error">
          {{ form_errors(form.fiscalpower) }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.price) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.price) }}
        </div>
        <div class="form-error">
          {{ form_errors(form.price) }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">
          {{ form_label(form.description) }}
        </div>
        <div class="form-input">
          {{ form_widget(form.description) }}
        </div>
        <div class="form-error">
          {{ form_errors(form.description) }}
        </div>
      </div>
      {% for i in 1..3 %}
        <div class="form-group">
          <div class="form-label">
            {{ form_label(form['image' ~ i]) }}
          </div>
          <div class="form-input">
            {{ form_widget(form['image' ~ i]) }}
          </div>
          <div class="form-error">
            {{ form_errors(form['image' ~ i]) }}
          </div>
        </div>
      {% endfor %}
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
