{% extends 'base.html.twig' %}

{% block title %}
    {{title_page}}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/general_backoffice.css')}}"> 
    <link rel="stylesheet" href="{{asset('assets/styles/buttons_backoffice.css')}}"> 
    <link rel="stylesheet" href="{{asset('assets/styles/tables_backoffice.css')}}"> 
    <link rel="stylesheet" href="{{asset('assets/styles/pagination_backoffice.css')}}"> 
    <link rel="stylesheet" href="{{asset('assets/styles/sorts_backoffice.css')}}"> 
{% endblock %}

{% block header %}
{{ parent() }}
{% include "partials/_nav_back.html.twig" %}
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ h1_index }}</h1>
        {% for message in app.flashes('success') %}
    <div class="pop-up-good">
            {{ message }}
    </div>
        {% endfor %}
    <h2 class="list-vehicles">{{ h2_index }}</h2>
    <a href="{{ path('app_vente_vehicule_new') }}" class="addBtn">{{ add_btn }}</a>
    <div class="count">
        {{ count_vehicles }} {{ vehicles.getTotalItemCount }}
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ th_img }}</th>
                <th class="th-date">{{ th_date }}<a id="sortDate"><img src="{{asset('assets/img/descending_white.png')}}" alt="filtre"></a></th>
                <th class="th-denom">{{ th_denom }}<a id="sortDenom"><img src="{{asset('assets/img/descending_white.png')}}" alt="filtre"></a></th>
                <th class="th-price">{{ th_price }}<a id="sortPrice"><img src="{{asset('assets/img/descending_white.png')}}" alt="filtre"></a></th>
                <th class="th-modi"></th>
                <th class="th-supr"></th>
                
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td class="td-img"><img src="{{ asset('assets/img_uploads/' ~ vehicle.imageName1) }}" alt="photo du véhicule"></td>
                <td class="td-date">{{vehicle.adddate|date('d/m/Y')}}</td>
                <td class="td-denom">{{vehicle.brand}} {{vehicle.model}} {{vehicle.year}} {{vehicle.power}}cv {{vehicle.fiscalpower}}cv {{vehicle.mileage}}km {{vehicle.energy}}</td>
                <td class="td-price">{{vehicle.price}}€</td>
                <td class="th-modi"><a href="{{ path('app_vente_vehicule_edit', {id: vehicle.id }) }}" class="btn btn-modify">{{ td_modify }}</a></td>
                <td class="th-supr"><a href="{{ path('app_vente_vehicule_delete', {id: vehicle.id }) }}" class="btn btn-delete">{{ td_delete }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(vehicles) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/sort_backoffice.js')}}"></script>
{% endblock %}
